.title {
    text-align: center;
}
.projectcard {
    min-width: 200px;
    min-height: 50px;
    border-radius: 50px;
    background: linear-gradient(145deg, #b7a7a7, #9a8c8c);
    box-shadow: 30px 30px 60px #918585, 
            -30px -30px 60px #c5b3b3;
    margin-bottom: 2rem;
}

h2 {
    color:  #434c5e;
    font-size: 2em;
}

.button {
    background-color: #434c5e; /* Green */
    border: none;
    margin-top: 2rem;
    margin-right: 1rem;
    color: white;
    padding: 0.5rem 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button1 {
    border: 0.2rem solid #a3be8c;
  }
  
  .button1:hover {
    background-color: #a3be8c; /* Green */
    color: white;
  }

  .button2{
    border: 0.2rem solid #d08770;
  }

  .button2:hover {
    background-color: #d08770; /* Green */
    color: white;
  }
