  .terminal-head {
    height: 28px;
    background-color: #2e3440;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  h4 {
    color: #88c0d0;
  }
  .close {
    height: 15px;
    width: 15px;
    background-color: #bf616a;
    border-radius: 50%;
    display: inline-block;
    margin: 10px
  }
  .max {
    height: 15px;
    width: 15px;
    background-color: #a3be8c;
    border-radius: 50%;
    display: inline-block;
  }
  .min {
    height: 15px;
    width: 15px;
    background-color: #ebcb8b;
    border-radius: 50%;
    display: inline-block;
    margin: 10px
  }
  .card {
    background: #434c5e;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    flex: 0 1 24%;
    border-radius: 0 0 10px 10px;
    min-height: 500px;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }