h1 {
    color:  #434c5e;
    font-size: 3.5em;
    margin-left: 0.5em;
}
.link {
    text-decoration: none;
    font-weight: bold;
    color: #434c5e;
  }
.intro {
    text-align: left;
    font-size: 1.3em;
    margin: 0.5em;
    margin-bottom: 1.5em;
}
.avatar {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://avatars1.githubusercontent.com/u/47358668?s=460&v=4);
    background-size: cover;
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 50%;
    margin: 1em;
     
}
.banner {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    justify-content:  flex-start;
    display: flex;
}