.container {
    width: 90%;
    max-width: 860px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  body {
    background: #d8dee9;
    margin: 0;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  }